<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPDIqL1Qenqrd3Kk686_bhRpMJ9JBNwDw</string>
	<key>GCM_SENDER_ID</key>
	<string>333518557427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokemonGuessingGame</string>
	<key>PROJECT_ID</key>
	<string>petkun-pokemon-project</string>
	<key>STORAGE_BUCKET</key>
	<string>petkun-pokemon-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333518557427:ios:8fe28287e72bbde1a96786</string>
</dict>
</plist>